apiVersion: v1
kind: Namespace
metadata:
  name: k6-operator-system
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: k6-operator
  namespace: k6-operator-system

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: k6-operator-role
rules:
  - apiGroups: ["k6.io"]
    resources: ["testruns"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["k6.io"]
    resources: ["testruns/status"]
    verbs: ["patch"]
  - apiGroups: ["k6.io"]
    resources: ["privateloadzones"]
    verbs: ["list", "get", "watch"] 
  - apiGroups: ["batch"]
    resources: ["jobs"]
    verbs: ["list", "get", "watch"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["list", "get", "watch"]
  - apiGroups: [""]
    resources: ["pods/log"]
    verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: k6-operator-binding
subjects:
  - kind: ServiceAccount
    name: k6-operator
    namespace: k6-operator-system
roleRef:
  kind: ClusterRole
  name: k6-operator-role
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: k6-operator
  namespace: k6-operator-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: k6-operator
  template:
    metadata:
      labels:
        app: k6-operator
    spec:
      serviceAccountName: k6-operator  # ここで適用
      containers:
        - name: k6-operator
          image: ghcr.io/grafana/k6-operator:latest
          ports:
            - containerPort: 8080
          env:
            - name: K6_OPERATOR_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: k6-operator-log-role
  namespace: k6-test
rules:
  - apiGroups: [""]
    resources: ["pods/log"]
    verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: k6-operator-log-binding
  namespace: k6-test
subjects:
  - kind: ServiceAccount
    name: k6-operator
    namespace: k6-operator-system
roleRef:
  kind: Role
  name: k6-operator-log-role
  apiGroup: rbac.authorization.k8s.io

