apiVersion: apps/v1
kind: Deployment
metadata:
  name: app2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app2
  template:
    metadata:
      labels:
        app: app2
    spec:
      containers:
        - name: app2
          image: python:3.9-slim
          command: ["python", "-c", "print('Hello from App2'); import time; time.sleep(3600)"]
